@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');


/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  html {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }


*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --ff-primary: 'Source Code Pro', monospace;;
    --ff-secondary: 'Ubuntu', sans-serif;

    --fw-reg: 400;
    --fw-bold: 900;

    --clr-light: #FFF;
    --clr-dark: #141824;
    --clr-alt: #fff48e;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color:black;
}


/* General */

body {
    background: var(--clr-dark);
    color: var(--clr-light);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

img {
    display: block;
    max-width: 100%;
}


/* Text */

h1,
h2,
h3 {
    line-height: 1;
    margin: 0;
}

h1 { font-size: var(--fs-h1) }
h2 { font-size: var(--fs-h2) }
h3 { font-size: var(--fs-h3) }

.title__name {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.title__sub {
    margin: 0;
    font-size: var(--fs-h3);
    font-weight: var(--fw-bold);
    position: relative;
}

section {
    padding: 2em 2em;
}

.title {
    margin-top: 12em;
}

.media {
    background-color: rgba(0,0,0,0.2);
    padding: .1em;
}

img.logo {
    max-width: 100%;
    width: 70px;
    display: inline-block;
    position: relative;
    left: 5px;
    top: 5px;
}

/* Nav */

#IG,
#GH {
    max-width: 50px;
    margin-left: 0.5em;
    padding: 0em;
    transition: all 200ms;
    float: right;
    padding-top: 15px;
}

#IG:hover,
#GH:hover {
    transform: scale(1.1);
}

/* Home Page Menu Bar */
#aboutlink, #portlink, #musiclink {
    color: white;
    font-size: 30px;
    font-weight: lighter;
    border: 2px solid white;
    border-radius: 5px;
    padding: 2px 5px;
    transition: 200ms all;
}

/* Home Page Menu Bar */
#aboutlink:hover, #portlink:hover, #musiclink:hover {
    color: lightblue;
    border: 5px solid lightblue;
    font-weight: bold;
}

@media (max-width: 800px) {
    img#ghPIC {
        max-width: 200px;
    }

    /* Home Page Menu Bar */
    #aboutlink, #portlink, #musiclink {
        font-size: 15px;
        border: 1px solid white;
        border-radius: 5px;
        padding: 2px 5px;
        margin-left: -5px;
        margin-right: -5px;
    }
}

/* Content */
.pic {
    overflow-x: hidden;
}

img#ghPIC {
    width: 300px;
    border-radius: 50%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

p.signature {
    text-align: center;
}

img#IG {
    position: relative;
    margin-right: .5em;
}


/* About */

.menubar {
    text-align: center;
    margin: -3.5em;
    margin-bottom: 3.5em;
    margin-left: 0;
    margin-right: 0;
}

.menubar a {
    color: white;
}

.bio h1 {
    margin-left: 4em;
    margin-top: 1em;
}

.bio__desc {
    background-color: var(--clr-dark);
    margin-left: 16em;
    margin-right: 16em;
    padding: 1em 1em;
}

#listlink {
    color: white;
}

.bio2 h2 {
    margin-left: 4.8em;
    margin-right: 4.8em;
}

.bio__desc2 {
    margin-left: 16em;
    margin-right: 16em;
}

.bio2 ul {
    margin-left: 16em;
    margin-right: 16em;
    background-color: var(--clr-dark);
    border: 2px dotted white;
}

#email {
    color:white;
}

.facts h3 {
    margin-left: 11.8em;
    margin-right: 11.8em;
}

.bio__desc3 {
    background-color: var(--clr-dark);
    margin-left: 16em;
    margin-right: 16em;
    padding: 1em 1em;
}

#musicref {
    color: white;
}

#musicref:hover {
    color: blue;
}

/* About Page Menu Bar */
#aboutlink2, #portlink2, #musiclink2 {
    color: white;
    font-size: 30px;
    font-weight: lighter;
    border: 2px solid white;
    border-radius: 5px;
    padding: 2px 5px;
    transition: 200ms all;
}

/* About Page Menu Bar */
#aboutlink2:hover, #portlink2:hover, #musiclink2:hover {
    color: lightblue;
    border: 5px solid lightblue;
    font-weight: bold;
}

@media (max-width: 1080px) {
    .bio h1 {
        margin-left: 2em;
        margin-top: 0.5em;
    }
    
    .bio__desc {
        background-color: var(--clr-dark);
        margin-left: 8em;
        margin-right: 8em;
    }

    .bio2 h2 {
        margin-left: 2.4em;
        margin-right: 4.8em;
    }
    
    .bio__desc2 {
        margin-left: 8em;
        margin-right: 8em;
    }
    
    .bio2 ul {
        margin-left: 8em;
        margin-right: 8em;
    }

    .facts h3 {
        margin-left: 6em;
        margin-right: 6em;
    }

    .bio__desc3 {
        margin-left: 8em;
        margin-right: 8em;
    }
}

@media (max-width: 800px) {
    /* About Page Menu Bar */
    #aboutlink2, #portlink2, #musiclink2 {
        font-size: 20px;
        font-weight: lighter;
        margin-left: 2px;
        margin-right: 2px;
    }

    .bio h1 {
        margin-left: 2em;
        margin-top: 0.5em;
    }
    
    .bio__desc {
        background-color: var(--clr-dark);
        margin-left: 6em;
        margin-right: 6em;
    }
    
    .bio2 h2 {
        margin-left: 2.7em;
        margin-right: 5.1em;
    }
    
    .bio__desc2 {
        margin-left: 6.2em;
        margin-right: 6em;
    }
    
    .bio2 ul {
        margin-left: 6em;
        margin-right: 6em;
    }

    .facts h3 {
        margin-left: 4.8em;
        margin-right: 4.8em;
    }

    .bio__desc3 {
        margin-left: 6em;
        margin-right: 6em;
    }
}

@media (max-width: 600px) {
    .menubar {
        margin: -3.4em;
        margin-bottom: 3.4em;
        margin-left: 4em;
        margin-right: 0;
    }
}

@media (max-width: 500px) {
    /* About Page Menu Bar */
    #aboutlink2, #portlink2, #musiclink2 {
        font-size: 20px;
        font-weight: lighter;
        margin-left: 1px;
        margin-right: 1px;
    }
    .menubar {
        margin: -3.4em;
        margin-bottom: 3.4em;
        margin-left: 3em;
        margin-right: 0;
    }

    .bio h1 {
        margin-left: 0.5em;
        margin-top: 0.2em;
    }
    
    .bio__desc {
        background-color: var(--clr-dark);
        margin-left: 1.5em;
        margin-right: 1.8em;
    }
    
    .bio2 h2 {
        margin-left: 0.7em;
        margin-right: 2em;
    }
    
    .bio__desc2 {
        margin-left: 1.7em;
        margin-right: 2em;
    }
    
    .bio2 ul {
        margin-left: 1.8em;
        margin-right: 2em;
    }

    .facts h3 {
        margin-left: 1.4em;
        margin-right: 1.4em;
    }

    .bio__desc3 {
        margin-left: 1.8em;
        margin-right: 1.8em;
    }
}

@media (max-width: 466px) {
    /* About Page Menu Bar */
    #aboutlink2, #portlink2, #musiclink2 {
        font-size: 15px;
        font-weight: lighter;
        margin-left: 1px;
        margin-right: 1px;
        border: 1px solid white;
        transition: 200ms all;
    }

    #aboutlink2:hover, #portlink2:hover, #musiclink2:hover {
        border: 3px solid lightblue;
    }
    .menubar {
        margin: -3.3em;
        margin-bottom: 3.3em;
        margin-left: 4em;
        margin-right: 0;
    }
}

@media (max-width: 390px) {
    /* Home Page Menu Bar */
    #aboutlink, #portlink, #musiclink {
        font-size: 15px;
        font-weight: lighter;
        margin-left: -8px;
        margin-right: -8px;
    }
}

@media (max-width: 340px) {
    /* Home Page Menu Bar */
    #aboutlink, #portlink, #musiclink {
        font-size: 15px;
        font-weight: lighter;
        margin-left: -10px;
        margin-right: -10px;
    }
}