@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --ff-primary: 'Source Code Pro', monospace;;
    --ff-secondary: 'Ubuntu', sans-serif;

    --fw-reg: 400;
    --fw-bold: 900;

    --clr-light: #FFF;
    --clr-dark: #141824;
    --clr-alt: #fff48e;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

@media (max-width: 800px) {
    img#ghPIC {
        max-width: 200px;
    }


}

@media (max-width: 450px) {
    button {
        margin: 0;
        padding: 10;
        min-height: 10px;
        padding-bottom: 7px;
    }
    button a {
        font-size: 0.5em;
        font-weight: bold;
    }
}


a, a:hover, a:focus, a:active {
    text-decoration: none;
    color:black;
}


/* General */

body {
    background: var(--clr-dark);
    color: var(--clr-light);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

img {
    display: block;
    max-width: 100%;
}


/* Text */

h1,
h2,
h3 {
    line-height: 1;
    margin: 0;
}

h1 { font-size: var(--fs-h1) }
h2 { font-size: var(--fs-h2) }
h3 { font-size: var(--fs-h3) }

.title__name {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.title__sub {
    margin: 0;
    font-size: var(--fs-h3);
    font-weight: var(--fw-bold);
    position: relative;
}

section {
    padding: 2em 2em;
}

.title {
    margin-top: 12em;
}

.media {
    background-color: rgba(0, 0, 0, 0.2);
    padding: .1em;
}

img.logo {
    max-width: 100%;
    width: 70px;
    display: inline-block;
    position: relative;
    left: 5px;
    top: 5px;
}

/* Nav */

#IG,
#GH {
    max-width: 50px;
    margin-left: 0.5em;
    padding: 0em;
    transition: all 200ms;
    float: right;
    padding-top: 15px;
}

#IG:hover,
#GH:hover {
    transform: scale(1.1);
}

button {
    font-family: 'Source Code Pro', monospace;
    border: 0px;
    border-radius: 5px;
    transition: all 200ms;
    margin-left: 0;
    margin-right: 0;
    font-size: var(--fs-h3);
}

button:hover {
    background-color:black;
    transform: scale(1.1);
    border: 10px white;
}

#aboutlink:hover, #portlink:hover, #musiclink:hover {
    color: var(--clr-light);
}


/* Content */
.pic {
    overflow-x: hidden;
}

img#ghPIC {
    width: 300px;
    border-radius: 50%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

p.signature {
    text-align: center;
}

img#IG {
    position: relative;
    margin-right: .5em;
}


/* About */

.about__body {
    background:rgb(3, 8, 22);
}

.bio h1 {
    margin-left: 4em;
    margin-top: 1em;
}

.bio__desc {
    background-color: var(--clr-dark);
    margin-left: 16em;
    margin-right: 16em;
}

#listlink {
    color: white;
}

.bio2 h2 {
    margin-left: 4.8em;
    margin-right: 4.8em;
}

.bio__desc2 {
    margin-left: 16em;
    margin-right: 16em;
}

.bio2 ul {
    margin-left: 16em;
    margin-right: 16em;
    background-color: var(--clr-dark);
    border: 2px dotted white;
}

.facts h3 {
    margin-left: 11.8em;
    margin-right: 11.8em;
}

.bio__desc3 {
    background-color: var(--clr-dark);
    margin-left: 16em;
    margin-right: 16em;
}

#musicref {
    color: white;
}

#musicref:hover {
    color: blue;
}

@media (max-width: 1080px) {
    .bio h1 {
        margin-left: 2em;
        margin-top: 0.5em;
    }
    
    .bio__desc {
        background-color: var(--clr-dark);
        margin-left: 8em;
        margin-right: 8em;
    }

    .bio2 h2 {
        margin-left: 2.4em;
        margin-right: 4.8em;
    }
    
    .bio__desc2 {
        margin-left: 8em;
        margin-right: 8em;
    }
    
    .bio2 ul {
        margin-left: 8em;
        margin-right: 8em;
    }

    .facts h3 {
        margin-left: 6em;
        margin-right: 6em;
    }

    .bio__desc3 {
        margin-left: 8em;
        margin-right: 8em;
    }
}

@media (max-width: 800px) {
    .bio h1 {
        margin-left: 2em;
        margin-top: 0.5em;
    }
    
    .bio__desc {
        background-color: var(--clr-dark);
        margin-left: 6em;
        margin-right: 6em;
    }
    
    .bio2 h2 {
        margin-left: 2.7em;
        margin-right: 5.1em;
    }
    
    .bio__desc2 {
        margin-left: 6.2em;
        margin-right: 6em;
    }
    
    .bio2 ul {
        margin-left: 6em;
        margin-right: 6em;
    }

    .facts h3 {
        margin-left: 4.8em;
        margin-right: 4.8em;
    }

    .bio__desc3 {
        margin-left: 6em;
        margin-right: 6em;
    }
}

@media (max-width: 500px) {
    .bio h1 {
        margin-left: 0.5em;
        margin-top: 0.2em;
    }
    
    .bio__desc {
        background-color: var(--clr-dark);
        margin-left: 1.5em;
        margin-right: 1.8em;
    }
    
    .bio2 h2 {
        margin-left: 0.7em;
        margin-right: 2em;
    }
    
    .bio__desc2 {
        margin-left: 1.7em;
        margin-right: 2em;
    }
    
    .bio2 ul {
        margin-left: 1.8em;
        margin-right: 2em;
    }

    .facts h3 {
        margin-left: 1.4em;
        margin-right: 1.4em;
    }

    .bio__desc3 {
        margin-left: 1.8em;
        margin-right: 1.8em;
    }
}